*.vscode
*.o
*build
*.bin
*tmp
*libgstobjecttrack-*
.deb
docs
.DS_Store
.cproject
.project
.settings
.settings
.project
.cproject
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
